LOG_LEVEL="info"
LOG_FILE_PATH="logs/app/app.log"

DATABASE_URL="mysql+aiomysql://DB_UESER:DB_PASSWORD@DB_IP:DB_PORT/DB_DATABASE"

OPENAI_SECRET_KEY="YOUR_OPENAI_SECRET_KEY"
VECTOR_STORE_DATA_DIR="YOUR_VECTOR_STORE_DATA_DIR"

ROOT_PATH=""
OPENAPI_URL= "/openapi.json"
DOCS_URL= "/docs"
REDOC_URL= "/redoc"
